#blog-title{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    width: auto;
    height: auto;
    color: #022963;
    padding-bottom: 40px;

}
#blog-image img{
    float: left;
    padding-bottom: 70px;
    display: flex;
    border-radius: 13px;
    width:75%;

}

#blog-content{
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #022963;
    line-height: 50px;

}
.blogs{
    display: flex;
    width: auto;
    height: auto;
    margin: 20px;
    background: #D9D9D9;
    border-radius: 13px;
    margin-top: 40px;
}
.contact-me{

    padding: 50px 5%;
    justify-content: space-between;
    background: #0A192F;
}
@media screen and (max-width: 800px) {
    #blog-image img {
        width: 100%;
    }
}