*{
    margin: 0;
    padding: 0;
}
body{
    background: #0A192F;
    width: auto;
}
.navigation{
    display: flex;
    background: #0A192F;
    margin-bottom: 20px;

}
.navigation .title{
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}
.navigation .title span{
    position: absolute;
    width: 350px;
    height: 48px;
}
.profile img{
    border-radius: 100px;
}
.profile .name{
    display: flex;
    margin: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}
.menus{
    width: 100px;
    height: 600px;
    background: #D9D9D9;
    border-radius: 18px;
    justify-content: center;
    display: flex;
    padding: 5px;


}
nav{
    display: flex;
    padding: 10px 10%;


}
nav ul li{
    display: block;
    list-style: none;
    margin:0 16px;
    text-decoration: none;
    padding: 10px;
    color: #022963;

}
nav ul li a{
    text-decoration: none;
    list-style-type: none;
    font-size: 17px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    color: #022963;

}
nav ul li i{
    padding:12px;
}
.all-in{
    display: flex;
}
.container{
    display: block;
    margin: 10px;
}
.container .boxes .box1,.box2,.box3,.box4 i{
    padding:7px;
}

.boxes{
    /*display: flex;*/
    /*width: 416px;*/
    /*height: 178px;*/

    justify-content: space-between;
    /*line-height: 60px;*/
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit,minmax( 200px,1fr));
    margin-bottom: 20px;
    margin-left: 42px;
}
.boxes .box1{
    width: 150px;
    height: 120px;
    background: #D9D9D9;
    border-radius: 10px;
    color: #022963;
}
.boxes .box2{
    width: 150px;
    height: 120px;
    background: #D9D9D9;
    border-radius: 10px;
    color: #022963;
}
.boxes .box3{
    width: 150px;
    height: 120px;
    background: #D9D9D9;
    border-radius: 10px;
    color: #022963;
}
.boxes .box4{
    width: 150px;
    height: 120px;
    background: #D9D9D9;
    border-radius: 10px;
    color: #022963;

}
.blogs-all{
    display: inline-block;
    margin: 50px;
    background: #A8B2D1;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    border-radius: 12px;
}
.blogs-all .blogs{
    display: flex;
    width: 900px;
    height: auto;
    margin: 20px;
    background: #D9D9D9;
    border-radius: 13px;
    flex-direction: column;
}

.blogs .title span{
    width: 364.61px;
    height: 39.3px;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #022963;
}
.title p{
    margin: 20px;
    line-height: 30px;
}
.title span{
    margin: 20px;
}

.blogs button{font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #D9D9D9;
    position: relative;
    float: right;
    width: 80.39px;
    height: 35.34px;
    background: #022963;
    border-radius: 12px;
    margin: 10px;
    margin-top: -10px;


}
#logout{
    left:580px;
    position: relative;
    top:5px;
}
.logout-search button{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    color: #64FFDA;
    background-color: #0A192F;
    padding:8px;
    border-radius: 8px;
    border-color: #64FFDA;
}
#admin{
    position: relative;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    left:100px;
    top:20px;
    /* identical to box height */
    color: #022963;
    background: #D9D9D9;
    border-radius: 16px;
    padding:5px;
}
#admin-portal{
    position: relative;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    top:25px;

}
#search{
    position:relative;
    left:50px;
    top:75px;
    color:#FFFFFF;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}
#search-input {
    position:relative;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 30px;
    background: #D9D9D9;;
    color:#CCD6F6;
    width: 100%;
    float:right;
    left:280px;
    top:20px;

}
label {
    display: block;
    margin-bottom: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.grid-item {
    background-color: #CCD6F6;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 12px;
}

@media screen and (max-width: 800px) {
    .box1, .box2, .box3,.box4{
        width: 100%;
    }

    .boxes {
        display: flex;
        flex-direction: column;
    }
    .blogs-all{
        display: flex;
        flex-direction: column;
        margin: 50px;
        background: #A8B2D1;
        align-items: center;
        justify-content: center;
    }

}




