form {
    border: 3px solid #64FFDA;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    background-color: #0A192F;
    border-radius:5px;
}
input[type=email], input[type=password],input[type=name] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #64FFDA;
    box-sizing: border-box;
    background: #0A192F;
    border-radius:5px;
    color:#CCD6F6;
}
button {
    background-color: #0A192F;
    color: #64FFDA;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #64FFDA;


}
button:hover {
    opacity: 0.8;
    background-color: #64FFDA;
    color:#0A192F;
    border:2px solid #CCD6F6;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    font-family: "Fira Code";
    font-weight: 400;
    font-size:40px;
    color:#CCD6F6;


}



.container {
    padding: 16px;
}
input [type=placeholder]{
    color:#CCD6F6;
}
label{
    color:#CCD6F6;
}
input:focus {
    color:#CCD6F6;
}



