html {
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;

}
body{
    background-color: #0A192F;

}
nav{
    position: sticky;
    top: 0;
    /*width: 100%;*/
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0A192F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid #10e8b5;

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
}

nav img{
    float: left;
}
nav ul li{

    display: inline-block;
    list-style: none;
    margin: 0 60px;
    position: sticky;

}
nav ul li a{
    position: relative;
    color: #BCD6F5;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Fira Code";
    
}

nav button{
    color:#64FFDA;
    box-sizing: border-box;
    border: 1px solid #64FFDA;
    border-radius: 5px;
    padding: 8px;
    width: 70px;
    text-align: center;
    background: #0A192F;
    cursor: pointer;

}

.names{
    line-height: 32px;
}

.social-icons{
    position: fixed;
    display: block;
    margin: 10px;
    top: 200px;
    line-height: 35px;
}
.social-icons li{
   list-style: none;
}
.social-icons :hover{
    color: #64FFDA;
}

.social-icons a{
     display: block;
     text-decoration: none;
    font-size: 20px;
    color: #A8B2D1;
   

}
.social-icons .line1{
    position: fixed;
    width:150px;
    left: -50px;
    top: 500px;
    border: 2px solid #A8B2D1;
    transform: rotate(89.33deg);
}
.container{

    display: flex;
    flex-direction: column;
    padding: 120px 15%;
    background: #0A192F;

}

.container .greet{
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    color: #64FFDA;


}
.container .names{
    padding: 50px 10%;
}
.container .names span{
   
    font-weight: 600;
    font-size: 30px;
    color: #CCD6F6;
    
}
.container .names p{
    color: #BCD6F5;
}
.container .names img{
    float: right;
    display: flex;

}
.whoiam p{
    color: #BCD6F5;
    font-family: Calibri;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
}
.container button{
box-sizing: border-box;
width: 150px;
height: 70px;
margin-top: 130px;
color: #64FFDA;
background: #0A192F;
border: 1px solid #64FFDA;
border-radius: 5px;
    font-family: "Fira Code";
}
.email{
    position: fixed;
    display: flex;
    float: right;
    right: -70px;
    top: 250px;
    margin: 0;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #A8B2D1;
    transform: matrix(0.01, 1, -1, 0.01, 0, 0); 
}
.email .line2{
    position: fixed;
    width:150px;
    right: -213px;
    top: 70%;
    border: 2px solid #A8B2D1;
    transform: rotate(180.33deg);
   
}
#cloud,#html,#javascript,#mongodb,#pl\/sql,#mysql,#postgresql,#you,#css{
    color: #64FFDA;
}
.about_me{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5%;
    justify-content: space-between;
    background: #0A192F;
}
.about_me p{
    color: #BCD6F5;
    font-family: Calibri;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;}



.home1{
    display: flex;
    align-items: center;
    justify-content: space-between;

}.home1 .my_home1 img{
     top:80px;

 }
.home_text{
      flex-direction: column;
      align-items: center;
  }.my_home1{
       justify-content: center;
       padding-left: 70px;
   }
.content {
    padding: 16px;
}
.sticky + .content {
    padding-top: 60px;
}
   .title{
       font-family: 'Fira Code';
       font-style: normal;
       font-weight: 400;
       font-size: 25px;
       line-height: 33px;
       padding: 100px 5%;

       color: #CCD6F6;
   }
   .skills{

       display: flex;
       flex-direction: column;
       padding: 100px 5%;
       justify-content: space-between;
       background: #0A192F;
   }
   .list ul li{
       font-family: 'Inter';
       font-style: normal;
       font-weight: 400;
       font-size: 25px;
       line-height: 80px;
       color: #8892B0;
       list-style: none;
   }
   .list{
       padding: 50px 5%;

   }
   .portfolio{
       display: flex;
       flex-direction: column;
       padding: 50px 5%;
       justify-content: space-between;
       background: #0A192F;

   }
   .about_me ul li{
       font-family: 'Calibri';
       font-style: normal;
       font-weight: 400;
       font-size: 30px;
       line-height: 40px;
       color: #64FFDA;
   }

#contact--me{ padding: 50px 5%;

}
.flex-container{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit,minmax( 200px,1fr));
    gap:23px;


}
.item1{
    padding: 16px;
    height:auto;
    margin: 5px;
    background-color:#022963;
    font-size:24px;
    text-align: center;
    line-height: 25px;
    color: #8892B0;
    border-radius: 8px;
}
.blogs{
    display: flex;
    flex-direction: column;
    padding: 50px 5%;
    justify-content: space-between;
    background: #0A192F;
}
#blog1{
    padding: 50px 5%;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: #CCD6F6;
}
.btn{
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 33px;
    color: #64FFDA;
    background: #0A192F;
    border: 2px solid #64FFDA;
    border-radius: 5px;

}
.intouch{
    float: left;
}
.leave-an-note{
    float: right;
}
label{
    color:#CCD6F6;
}
input:focus {
    color:#CCD6F6;
}
input [type=placeholder]{
    color:#CCD6F6;
}
form {
    border: 2px solid #64FFDA;
    padding: 25px;
    margin: 25px auto;
    background-color: #0A192F;
    border-radius:5px;
    float:left;
}
input[type=email], input[type=password],input[type=name] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #64FFDA;
    box-sizing: border-box;
    background: #0A192F;
    border-radius:5px;
    color:#CCD6F6;
    width: 100%;
}
.button2 {
    background-color: #0A192F;
    color: #64FFDA;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #64FFDA;


}
.contact-me{

    padding: 50px 5%;
    justify-content: space-between;
    background: #0A192F;

}
.row .column {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
#leave-a-note{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;

    color: #CCD6F6;
}
#intouch{

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 43px;

    color: #CCD6F6;
    line-height: 50px;
}
#build{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    color: #8892B0;
    line-height: 100px;



}
#say-hello{
    background: #0A192F;
    border: 2px solid #64FFDA;
    border-radius: 5px;
    box-sizing: border-box;
    height: 60px;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #64FFDA;
    text-decoration: none;
    text-align: center;



}
.footer{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    /* identical to box height */
    color: #A8B2D1;
    text-align: center;
    line-height: 200px;

}
.item1 h2{
    color: #CCD6F6;
}
.topnav .icon {
    display: none;
    color:#64FFDA;
    font-size: 45px;

}
@media screen and (max-width: 800px) {
    .topnav a {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .email,.line2,.social-icons{
        display: none;
    }

 .about_me{
     padding: 10px 5%;

 }

}

@media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .container{
        flex-direction: column;

    }
    .my_home1 img{
        display: none ;

    }


}
@media screen and (max-width: 800px) {
    .column {
        width: 100%;
    }


}
@media screen and (max-width: 600px){
    .container .names img{
display: flex;

        }
    .about_me{
        flex-direction: column;
    }

}