*{
    padding: 0;
    margin: 0;
    background-color: #0A192F;
}
body{

}
nav{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0A192F;
    border-bottom: 2px solid #10e8b5;

}

nav img{
    float: left;
}
nav ul li{

    display: inline-block;
    list-style: none;
    margin: 0px 60px;

}
nav ul li a{
    position: relative;
    color: #BCD6F5;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Fira Code";
    
}

nav button{

    color:#64FFDA;
    box-sizing: border-box;
    border: 1px solid #64FFDA;
    border-radius: 5px;
    padding: 8px;
    width: 70px;
    text-align: center;
    background: #0A192F;
    cursor: pointer;

}
.social-icons{
    position: fixed;
    display: block;
    margin: 10px;
    top: 200px;
    line-height: 35px;
}
.social-icons li{
   list-style: none;
}
.social-icons a{
     display: block;
     text-decoration: none;
    font-size: 20px;
    color: #A8B2D1;
   

}
.social-icons .line1{
    position: fixed;
    width:150px;
    left: -50px;
    top: 500px;
    border: 2px solid #A8B2D1;
    transform: rotate(89.33deg);
}
.container{

    display: flex;
    flex-direction: column;
    padding: 50px 15%;
    background: #0A192F;
}

.container .greet{
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    color: #64FFDA;

}
.container .names{
    padding: 10px 10%;
}
.container .names span{
   
    font-weight: 600;
    font-size: 30px;
    color: #CCD6F6;
    
}
.container .names p{
    color: #BCD6F5;
}
.container .names img{
    float: right;
    margin-top: -120px;
}
.whoiam p{
    color: #BCD6F5;
    font-family: Calibri;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
}
.container button{
box-sizing: border-box;
width: 150px;
height: 70px;
margin-top: 130px;
color: #64FFDA;
background: #0A192F;
border: 1px solid #64FFDA;
border-radius: 5px;
    font-family: "Fira Code";
}
.email{
    position: fixed;
    display: flex;
    float: right;
    right: -70px;
    top: 250px;
    margin: 0;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #A8B2D1;
    transform: matrix(0.01, 1, -1, 0.01, 0, 0); 
}
.email .line2{
    position: fixed;
    width:150px;
    right: -213px;
    top: 70%;
    border: 2px solid #A8B2D1;
    transform: rotate(180.33deg);
   
}
#cloud,#html,#javascript,#mongodb,#pl\/sql,#mysql,#postgresql,#you,#css{
    color: #64FFDA;
}
.about_me{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 5%;
    justify-content: space-between;
    background: #0A192F;
}
.about_me p{
    color: #BCD6F5;
    font-family: Calibri;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;}



.home1{
    display: flex;
    align-items: center;
    justify-content: space-between;

}.home1 .my_home1 img{
     width: 300px;
     height: 450px;
     border-radius:20px;
     align-items: center;
 }.home_text{
      flex-direction: column;
      align-items: center;
  }.my_home1{
       justify-content: center;
       padding-left: 70px;
   }
   #img{
       position: relative;
       width: 315.17px;
       height: 332px;
      left: -70px;
       top: -200px;
   }
   .title{
       font-family: 'Fira Code';
       font-style: normal;
       font-weight: 400;
       font-size: 25px;
       line-height: 33px;

       color: #CCD6F6;
   }
   .skills{

       display: flex;
       flex-direction: column;
       padding: 50px 5%;
       justify-content: space-between;
       background: #0A192F;
   }
   .list ul li{
       font-family: 'Inter';
       font-style: normal;
       font-weight: 400;
       font-size: 25px;
       line-height: 80px;
       color: #8892B0;
       list-style: none;
   }
   .list{
       padding: 50px 5%;

   }
   .portfolio{
       display: flex;
       flex-direction: column;
       padding: 50px 5%;
       justify-content: space-between;
       background: #0A192F;

   }
   .about_me ul li{
       font-family: 'Calibri';
       font-style: normal;
       font-weight: 400;
       font-size: 30px;
       line-height: 40px;
       color: #64FFDA;
   }









/*@media screen and (max-width: 600px) {*/
/*    .topnav a {*/
/*        display: none;*/
/*    }*/
/*    .topnav a.icon {*/
/*        float: right;*/
/*        display: block;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 800px) {*/
/*    .topnav.responsive {position: relative;}*/
/*    .topnav.responsive .icon {*/
/*        position: absolute;*/
/*        right: 0;*/
/*        top: 0;*/
/*    }*/
/*    .topnav.responsive a {*/
/*        float:none;*/
/*        display: flex;*/

/*        text-align: center;*/
/*        padding: 1px;*/
/*        justify-content: center;*/

/*    }*/
/*    .topnav.responsive  {*/
/*        float: none;*/
/*        position: relative;*/
/*        display: block;*/
/*        width: 100%;*/
/*        text-align: left;*/
/*    }}*/
